<div class="card relative w-full h-108 rounded-box overflow-hidden bg-base-100">
  <iframe src="https://{{.ID}}.skysca.pe" class="absolute inset-0 z-10 w-full h-full"></iframe>
  <a target="_blank" href="https://{{.ID}}.skysca.pe" class="bg-black/40 inset-0 absolute z-20 flex">
    <div class="btn btn-lg btn-primary opacity-90 m-auto">
      Visit App
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
          d="M384 224v184a40 40 0 0 1-40 40H104a40 40 0 0 1-40-40V168a40 40 0 0 1 40-40h167.48M336 64h112v112M224 288 440 72">
        </path>
      </svg>
    </div>
  </a>
</div>