<a href="{{host}}/app/{{.ID}}" class="card w-full max-w-sm bg-base-100 shadow-lg">
  <div class="card-body">
    <div class="flex items-center min-w-0">
      {{with .Owner}}
      <div class="avatar flex-shrink-0">
        <div class="w-5 p-0.5 rounded-full bg-white/10 border border-white/10 mr-1">
          <img src="{{.Avatar}}" alt="{{.Name}}" class="rounded-full">
        </div>
      </div>

      <span class="text-base font-semibold opacity-80 flex-shrink-0">
        @{{.Handle}} /&nbsp;
      </span>
      {{end}}

      <h2 class="text-base font-semibold truncate min-w-0">
        {{.Name}}
      </h2>
    </div>

    <hr class="my-2 opacity-15">

    <p class="text-sm font-bold opacity-60 tracking-wider line-clamp-2">
      {{with .Description}}{{.}}{{else}}
      <span class="italic opacity-80">No description</span>
      {{end}}
    </p>
  </div>
</a>