<div class="flex flex-col gap-2">
  <label class="text-xs font-bold opacity-60 tracking-wider">
    User Comments
  </label>

  {{with auth.CurrentUser}}
  <form class="flex flex-col w-full" hx-post="{{host}}/repos/{{$.ID}}/comments" hx-target=".error">
    <textarea required name="content" class="textarea w-full"
      placeholder="Leave a comment for this project..."></textarea>
    <div class="flex items-center justify-between px-4 pt-2">
      <span class="text-sm font-semibold opacity-60">
        @{{.Handle}}
      </span>

      <button class="btn btn-xs btn-secondary">
        Post
      </button>
    </div>

    <div class="error"></div>
  </form>
  {{end}}

  {{range .Comments}}
  <div class="flex flex-col gap-2 w-full py-2">
    {{with .User}}
    <div class="flex items-center gap-2 px-2">
      <div class="avatar">
        <div class="w-4 bg-base-100 shadow-xl rounded-full">
          <img src="{{.Avatar}}" alt="{{.Name}}">
        </div>
      </div>

      <span class="text-xs font-semibold opacity-70">
        @{{.Handle}}
      </span>
    </div>
    {{end}}

    <div class="chat chat-start">
      <div class="chat-bubble w-full shadow max-w-none bg-neutral/60 min-h-20">
        {{.Content}}
      </div>
    </div>
  </div>
  {{end}}
</div>