<div class="card bg-base-100/80 backdrop-blur-sm border border-white/5">
  <div class="card-body">
    {{with $user := auth.CurrentUser}}
    <div class="flex items-center justify-between mb-2">
      <h2 class="text-xl font-semibold">
        Launch History
      </h2>

      {{if eq $user.ID $.Owner.ID}}
      <button class="btn btn-sm btn-primary" hx-post="{{host}}/app/{{$.ID}}/launch">
        Launch
      </button>
      {{end}}
    </div>

    <div class="flex flex-col gap-2 w-full">
      {{range $.Images}}
      <div class="collapse collapse-arrow bg-base-200/50 border border-white/5 rounded-box">
        <input type="radio" name="launch-history-items">
        <div class="collapse-title flex justify-between">
          <div class="text-sm font-bold opacity-80 flex gap-1 flex-wrap">
            <div class="opacity-60">
              Version
            </div>
            <div class="opacity-80">
              {{.GitHash}}
            </div>
            <div class="opacity-60">
              launched at
            </div>
            <div class="opacity-80">
              {{format .CreatedAt "Jan 02, 2006 15:04:05"}}
            </div>
          </div>

          {{if eq .Status "running"}}
          <span class="badge badge-sm badge-soft badge-success ml-auto capitalize">
            {{.Status}}
          </span>
          {{else if eq .Status "deploying"}}
          <span class="badge badge-sm badge-soft badge-info ml-auto capitalize animate-pulse">
            {{.Status}}
          </span>
          {{else if eq .Status "failed"}}
          <span class="badge badge-sm badge-soft badge-error ml-auto capitalize">
            {{.Status}}
          </span>
          {{else if or (eq .Status "building") (eq .Status "ready")}}
          <span class="badge badge-sm badge-soft badge-warning ml-auto capitalize animate-pulse">
            building
          </span>
          {{else}}
          <span class="badge badge-sm badge-soft badge-info ml-auto capitalize">
            {{.Status}}
          </span>
          {{end}}
        </div>

        <div class="collapse-content">
          <div class="flex flex-col gap-4 w-full p-4 bg-base-300/50 rounded-box border border-white/5">
            {{with .Error}}
            <label class="font-bold text-base opacity-80 -pb-2">
              Launch Error
            </label>
            <span class="text-error">- {{.}}</span>
            {{end}}

            <label class="font-bold text-base opacity-80 -pb-2">
              Launch Owner
            </label>

            {{with .App.Owner}}
            <a href="{{host}}/user/{{.Handle}}" class="text-base opacity-80" hx-boost="true">
              <div class="avatar">
                <div class="w-5 p-0.5 rounded-full bg-white/10 border border-white/10 mr-1">
                  <img src="{{.Avatar}}" alt="{{.Name}}" class="rounded-full">
                </div>
              </div>
              <span class="text-sm font-semibold">
                @{{.Handle}}
              </span>
            </a>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
    </div>
    {{else}}
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold opacity-75">
        Sign in to view the launch history.
      </h2>

      <a href="{{host}}/signin?next={{req.URL.Path}}" class="btn btn-secondary btn-soft">
        Sign In
      </a>
    </div>
    {{end}}
  </div>
</div>