{{define "layout/start"}}
<div class="drawer md:drawer-open">
  <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="mobile-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    {{template "nav-drawer.html"}}
  </div>

  <div id="layout-content"
    class="drawer-content flex flex-col items-center bg-base-200 border-l border-base-100 min-h-screen md:shadow-xl z-20 pb-40 md:pb-0">
    {{end}} {{define "layout/end"}}
    {{template "mobile-nav.html"}}
  </div>

  {{if auth.CurrentUser}}
  {{template "fab-button.html"}}
  {{end}}
</div>

{{template "create-repo-modal.html"}}
{{end}}