<div class="h-24 pb-6 dock md:hidden shadow-xl z-40" hx-boost="true">
  {{with auth.CurrentUser}}
  <a href="{{host}}/" {{if path_eq "" }}class="dock-active" {{end}}>
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
        </polyline>
        <path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor"
          stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
        <line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square"
          stroke-miterlimit="10" stroke-width="2"></line>
      </g>
    </svg>
    <span class="dock-label">Home</span>
  </a>

  <a href="{{host}}/explore" {{if path_eq "explore" }}class="dock-active" {{end}}>
    <svg class="size-[1.2em]" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512"
      height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M347.94 129.86L203.6 195.83a31.938 31.938 0 0 0-15.77 15.77l-65.97 144.34c-7.61 16.65 9.54 33.81 26.2 26.2l144.34-65.97a31.938 31.938 0 0 0 15.77-15.77l65.97-144.34c7.61-16.66-9.54-33.81-26.2-26.2zm-77.36 148.72c-12.47 12.47-32.69 12.47-45.16 0-12.47-12.47-12.47-32.69 0-45.16 12.47-12.47 32.69-12.47 45.16 0 12.47 12.47 12.47 32.69 0 45.16zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z">
      </path>
    </svg>
    <span class="dock-label">Explore</span>
  </a>

  <a href="{{host}}/messages" {{if path_eq "messages" }}class="dock-active" {{end}}>
    <svg class="size-[1.2em]" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
      stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    </svg>
    <span class="dock-label">Messages</span>
    {{$unreadCount := messages.UnreadCount}}
    {{if gt $unreadCount 0}}
    <span class="badge badge-primary badge-xs absolute -top-1 -right-1">{{$unreadCount}}</span>
    {{end}}
  </a>

  <a href="{{host}}/profile" {{if path_eq "profile" }}class="dock-active" {{end}}>
    <svg class="size-[1.2em]" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
      stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 20a6 6 0 0 0-12 0"></path>
      <circle cx="12" cy="10" r="4"></circle>
      <circle cx="12" cy="12" r="10"></circle>
    </svg>
    <span class="dock-label">Profile</span>
  </a>

  <a></a>
  {{else}}
  <a href="{{host}}/" class="flex items-center gap-4 max-w-none">
    <div class="w-full btn btn-primary">
      Join The Skyscape
    </div>
  </a>
  {{end}}
</div>