<div class="flex items-center gap-2">
  {{with .Owner}}
  <a hx-boost="true" href="{{host}}/user/{{.Handle}}" class="btn btn-ghost text-lg px-2">
    <div class="avatar">
      <div class="w-8 p-1 rounded-full bg-white/10 border border-white/10 shadow">
        <img src="{{.Avatar}}" alt="{{.Name}}" class="rounded-full">
      </div>
    </div>

    <span class="hidden md:inline">@{{.Handle}}</span>
  </a>
  {{end}}

  <span class="text-lg font-bold opacity-80">/</span>

  <a hx-boost="true" href="{{host}}/repo/{{.ID}}" class="text-xl font-semibold">
    {{.Name}}
  </a>

  <div class="flex items-center gap-2 ml-auto bg-transparent" data-theme="light">
    {{$user := auth.CurrentUser}}

    {{if $user}}
    {{if .IsStarredBy $user.ID}}
    <button class="btn btn-sm shadow-xl group opacity-80 hidden md:flex" hx-delete="{{host}}/repo/{{.ID}}/star" _="on mouseenter set my textContent to 'Unstar' then add .btn-error to me
         on mouseleave set my textContent to '⭐ Starred ({{.StarsCount}})' then remove .btn-error from me">
      ⭐ Starred ({{.StarsCount}})
    </button>
    {{else}}
    <button class="btn btn-sm shadow-xl opacity-80 hidden md:flex" hx-post="{{host}}/repo/{{.ID}}/star">
      ⭐ Star ({{.StarsCount}})
    </button>
    {{end}}
    {{end}}

    <button class="btn btn-sm btn-primary shadow-xl hidden md:flex" _="on click
          call navigator.clipboard.writeText('git clone https://theskyscape.com/repo/{{.ID}}') then
          set my textContent to 'Copied ✓' then
          remove .btn-primary from me then
          add .btn-success to me then
          wait 2s then
          set my textContent to 'Clone Repo' then
          remove .btn-success from me then
          add .btn-primary to me then">
      Clone Repo
    </button>

    {{if $user}}
    <a href="https://code.skysca.pe/clone?repo=https://{{$user.Handle}}@theskyscape.com/repo/{{.ID}}" target="_blank"
      class="btn btn-sm btn-secondary shadow-xl hidden md:flex">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
      </svg>
      Open in SkyCode
    </a>
    {{end}}
  </div>
  {{if $user}}
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
      </svg>
    </div>

    <ul tabindex="-1"
      class="dropdown-content menu bg-base-100 rounded-box z-50 mt-2 w-52 p-2 shadow-sm border border-white/20">
      {{if .IsStarredBy $user.ID}}
      <li class="md:hidden">
        <a hx-delete="{{host}}/repo/{{.ID}}/star">⭐ Unstar</a>
      </li>
      {{else}}
      <li class="md:hidden">
        <a hx-post="{{host}}/repo/{{.ID}}/star">⭐ Star ({{.StarsCount}})</a>
      </li>
      {{end}}
      <li>
        <a href="https://code.skysca.pe/clone?repo=https://{{$user.Handle}}@theskyscape.com/repo/{{.ID}}" target="_blank">
          Open in SkyCode
        </a>
      </li>
      <li>
        <a _="on click
          call navigator.clipboard.writeText('https://theskyscape.com/repo/{{.ID}}') then
          set my textContent to 'Copied ✓' then
          wait 2s then
          set my textContent to 'Share'">
          Share
        </a>
      </li>
      <li><a _="on click call share_repo_modal.showModal()">Post to Feed</a></li>
      {{if eq $user.ID .Owner.ID}}
      <li><a _="on click call edit_repo_modal.showModal()">Edit</a></li>
      <li><a hx-confirm="Are you sure you want to delete this repo?" hx-delete="{{host}}/repo/{{.ID}}">Archive</a></li>
      {{end}}
    </ul>
  </div>
  {{end}}
</div>
