<div class="flex items-center gap-2">
  {{with .Owner}}
  <a hx-boost="true" href="{{host}}/user/{{.Handle}}" class="btn btn-ghost text-lg px-2">
    <div class="avatar">
      <div class="w-8 p-1 rounded-full bg-white/10 border border-white/10 shadow">
        <img src="{{.Avatar}}" alt="{{.Name}}" class="rounded-full">
      </div>
    </div>

    <span>@{{.Handle}}</span>
  </a>
  {{end}}

  <span class="text-lg font-bold opacity-80">/</span>

  <a hx-boost="true" href="{{host}}/repo/{{.ID}}" class="text-xl font-semibold">
    {{.Name}}
  </a>

  <button class="btn btn-sm btn-primary ml-auto hidden md:flex" _="on click 
        call navigator.clipboard.writeText('git clone https://web.skysca.pe/repo/{{.ID}}') then 
        set my textContent to 'Copied ✓' then 
        remove .btn-primary from me then
        add .btn-success to me then 
        wait 2s then 
        set my textContent to 'Clone Repo' then 
        remove .btn-success from me then 
        add .btn-primary to me then">
    Clone Repo
  </button>

  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-ghost">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
      </svg>
    </div>

    <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
      <li><a hx-confirm="Are you sure you want to delete this repo?" hx-delete="{{host}}/repo/{{.ID}}">Delete</a></li>
    </ul>
  </div>

</div>