<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

</head>

<body>
  {{template "layout/start"}}

  <div class="flex flex-col md:flex-row justify-between gap-8 w-full">
    <div class="max-w-screen-xl flex flex-col gap-6 w-full mx-auto px-4 py-8 md:py-12 z-20">
      {{with apps.CurrentApp}}
      {{template "app-header.html" .}}

      <div class="flex flex-col md:flex-row justify-between gap-8 w-full">
        <div class="flex flex-col gap-4 w-full max-w-screen-md">
          {{template "app-preview.html" .}}
          {{template "launch-history.html" .}}
        </div>

        <div class="flex flex-col gap-4 px-2 w-full md:max-w-108">
          {{template "app-details.html" .}}
        </div>
      </div>

      {{else}}
      <h1 class="text-2xl font-semibold">
        App not found
      </h1>
      {{end}}
    </div>
  </div>

  {{template "layout/end"}}
</body>

</html>