<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

</head>

<body>
  {{template "layout/start"}}

  <div class="relative bg-[url('{{host}}/public/background.png')] bg-cover bg-center border-b-2 border-white/40 w-full">
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <div class='flex flex-col gap-3 items-center px-4 py-8'>
      <h1 class="text-3xl md:text-4xl font-bold tracking-wide opacity-80">What's Happening</h1>
      <span class="text-lg md:text-xl font-bold opacity-60 text-center">
        Get a live feed of what is going on in The Skyscape Community.
      </span>
    </div>
  </div>

  <div class="p-4 md:py-12 w-full max-w-screen-md flex flex-col gap-4 w-full" id="feed">
    {{range feed.RecentActivities}}
    {{template "feed-post.html" .}}
    {{ end }}
  </div>

  <div hx-get="{{host}}/" hx-trigger="every 10s" hx-select="#feed" hx-target="#feed" hx-swap="outerHTML"></div>
  {{template "layout/end"}}
</body>

</html>