<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

</head>

<body>
  <div class="relative hero min-h-screen bg-black bg-[url('{{host}}/public/background.png')] bg-cover bg-center"
    data-theme="light">
    <div class="absolute inset-0 bg-black/40"></div>
    <div class="hero-content max-w-screen-2xl w-full mx-auto flex-col">

      <div class="card bg-base-200 shadow-lg w-full max-w-xl">
        <div class="card-body flex flex-col w-full gap-4 items-center" id="content">
          <h2 class="card-title text-center">Forgot Password</h2>
          <div class="error"></div>

          <form hx-post="{{host}}/forgot-password" hx-target="previous .error" class="flex gap-2 w-full">
            <label class="floating-label flex-1">
              <input type="email" name="email" placeholder="Email" class="input w-full">
              <span>Email</span>
            </label>

            <button type="submit" class="btn btn-primary">
              Send Reset Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>