<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

</head>

<body>
  {{template "layout/start"}}

  {{template "profile-header.html"}}

  <div class="max-w-screen-lg flex flex-col md:flex-row md:justify-between gap-4 w-full mx-auto relative z-20 px-4">
    {{with profile.CurrentProfile}}
    {{$handle := .Handle}}
    {{template "profile-info.html" .}}

    <div class="w-full flex flex-col gap-4">
      {{with .RecentApps}}
      <div class="card bg-base-100 shadow w-full">
        <div class="card-body">
          <div class="flex items-center justify-between mb-2">
            <h2 class="text-xl font-bold">
              Apps
            </h2>
            <a href="{{host}}/user/{{$handle}}/apps" class="btn btn-ghost btn-sm" hx-boost="true">
              View all →
            </a>
          </div>
          <ul class="menu gap-2 w-full p-0" hx-boost="true">
            {{range .}}
            <li>
              <a href="{{host}}/app/{{.ID}}">
                <div class="flex items-center justify-center w-8 h-8 rounded bg-primary/20 text-primary shrink-0 mr-2">
                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true"
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                  </svg>
                </div>
                <div class="flex flex-col">
                  <span class="text-base font-semibold">
                    {{.Name}}
                  </span>
                  <span class="text-xs font-bold opacity-60 tracking-wide">
                    {{with .Description}}{{.}}{{else}}
                    <span class="italic opacity-80">No description</span>
                    {{end}}
                  </span>
                </div>

                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg" class="ml-auto">
                  <path
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                  </path>
                </svg>
              </a>
            </li>
            {{end}}
        </div>
      </div>
      {{end}}

      <div class="card bg-base-100 shadow-lg w-full">
        <div class="card-body">
          <div class="flex items-center justify-between mb-4">
            <h2 class="card-title">
              Repos
            </h2>
            <a href="{{host}}/user/{{$handle}}/repos" class="btn btn-ghost btn-sm" hx-boost="true">
              View all →
            </a>
          </div>
          {{with .RecentRepos}}
          <ul class="menu gap-2 w-full p-0" hx-boost="true">
            {{range .}}
            <li>
              <a href="{{host}}/repo/{{.ID}}">
                <div
                  class="flex items-center justify-center w-8 h-8 rounded bg-secondary/20 text-secondary shrink-0 mr-2">
                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z">
                    </path>
                    <path d="M12 22V12"></path>
                    <path d="m3.3 7 7.703 4.734a2 2 0 0 0 1.994 0L20.7 7"></path>
                    <path d="m7.5 4.27 9 5.15"></path>
                  </svg>
                </div>
                <div class="flex flex-col">
                  <span class="text-base font-semibold">
                    {{.Name}}
                  </span>
                  <span class="text-xs font-bold opacity-60 tracking-wide">
                    {{with .Description}}{{.}}{{else}}
                    <span class="italic opacity-80">No description</span>
                    {{end}}
                  </span>
                </div>

                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg" class="ml-auto">
                  <path
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                  </path>
                </svg>
              </a>
            </li>
            {{end}}
          </ul>
          {{else}}
          <h2 class="my-4 text-center text-lg font-semibold opacity-80">
            No repos yet
          </h2>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </div>

  {{template "layout/end"}}
</body>

</html>