<html data-theme="{{theme}}">

<head>
  {{template "app-deps"}}

</head>

<body>
  {{template "layout/start"}}

  {{template "profile-header.html"}}

  <div class="max-w-screen-lg flex flex-col md:flex-row md:justify-between gap-4 w-full mx-auto relative z-20 px-4">
    {{with profile.CurrentProfile}}
    {{template "profile-info.html" .}}

    {{with .Apps}}
    <div class="card bg-base-100 shadow w-full">
      <div class="card-body">
        <h2 class="text-xl font-bold">
          Apps
        </h2>
      </div>
    </div>
    {{end}}

    <div class="w-full">
      <div class="card bg-base-100 shadow-lg w-full">
        <div class="card-body">
          <h2 class="card-title mb-4">
            Repos
          </h2>
          {{with .Repos}}
          <ul class="menu gap-2 w-full p-0" hx-boost="true">
            {{range .}}
            <li>
              <a href="{{host}}/repo/{{.ID}}">
                <div class="flex flex-col gap-1">
                  <span class="text-lg font-semibold">
                    {{.Name}}
                  </span>
                  <span class="text-sm font-bold opacity-60 tracking-wide">
                    {{with .Description}}{{.}}{{else}}
                    <span class="italic opacity-80">No description</span>
                    {{end}}
                  </span>
                </div>

                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg" class="ml-auto">
                  <path
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                  </path>
                </svg>
              </a>
            </li>
            {{end}}
          </ul>
          {{else}}
          <h2 class="my-4 text-center text-lg font-semibold opacity-80">
            No repos yet
          </h2>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </div>

  {{template "layout/end"}}
</body>

</html>