<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

  <meta name="go-import"
    content="theskyscape.com/repo/{{repos.CurrentRepo.ID}} git https://go@theskyscape.com/repo/{{repos.CurrentRepo.ID}}">
</head>

<body>
  {{template "layout/start"}}

  <div class="max-w-screen-xl flex flex-col gap-6 w-full mx-auto px-4 py-8 md:py-12 z-20">
    {{with $repo := repos.CurrentRepo}}

    {{template "repo-header.html" .}}

    {{if $repo.IsEmpty "main"}}
    {{$user := auth.CurrentUser}}

    {{if and $user (eq $repo.OwnerID $user.ID)}}
    <div class="card bg-base-100 shadow-xl w-full md:max-w-screen-sm mx-auto border border-white/10 md:my-8">
      <div class="card-body">
        <h2 class="card-title mx-auto text-2xl">
          Getting Started
        </h2>
        <ul class="list-decimal pt-4 px-6 space-y-2">
          <li>
            Clone the repo using the <button class="btn btn-xs btn-primary" _="on click 
              call navigator.clipboard.writeText('git clone https://theskyscape.com/repo/{{$repo.ID}}') then 
              set my textContent to 'Copied ✓' then 
              remove .btn-primary from me then
              add .btn-success to me then 
              wait 2s then 
              set my textContent to 'Clone Repo' then 
              remove .btn-success from me then 
              add .btn-primary to me then">Clone Repo</button>
            button
          </li>
          <li>Create files and folders for your project</li>
          <li>
            Run <code class="bg-neutral/40 rounded-box px-2 py-1">git add .</code> to stage your changes
          </li>
          <li>
            Run <code class="bg-neutral/40 rounded-box px-2 py-1">git commit -m "Initial commit"</code> to commit your
            changes
          </li>
          <li>
            Run <code class="bg-neutral/40 rounded-box px-2 py-1">git push -u origin main</code> to push your changes
            to The Skyscape
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    <div class="card bg-base-100 shadow-xl w-full md:max-w-screen-sm mx-auto border border-white/10 md:my-8">
      <div class="card-body">
        <h2 class="card-title mx-auto text-2xl">
          Under Construction
        </h2>
        <p class="font-medium text-lg opacity-80 text-center">
          Please check back later to see the progress of {{.Name}}.
        </p>
      </div>
    </div>
    {{end}}
    {{else}}
    <div class="flex flex-col md:flex-row justify-between gap-8 w-full">
      <div class="flex flex-col gap-4 w-full max-w-screen-md">
        {{template "repo-last-commit.html" .}}
        {{template "repo-dir.html" .}}

        {{with repos.ReadmeFile}}
        <div class="card bg-base-100 w-full max-w-screen-md shadow-lg">
          <div class="card-body">
            <div class="markdown">{{.Read.Markdown}}</div>
          </div>
        </div>
        {{end}}

      </div>

      <div class="flex flex-col gap-4 px-2 w-full md:max-w-108">
        {{template "repo-details.html" .}}
      </div>
    </div>
    {{end}}

    {{template "launch-app-modal.html" $repo}}
    {{else}}
    <h1 class="text-2xl font-semibold">
      Repo not found
    </h1>
    {{end}}
  </div>

  {{template "layout/end"}}

</body>

</html>