<html data-theme="{{theme}}">

<head>
  {{template "app-deps"}}

  <meta name="go-import"
    content="web.skysca.pe/repo/{{repos.CurrentRepo.ID}} git https://go@web.skysca.pe/repo/{{repos.CurrentRepo.ID}}">
</head>

<body>
  {{template "layout/start"}}

  <div class="max-w-screen-xl flex flex-col gap-6 w-full mx-auto px-4 py-8 md:py-12 z-20">
    {{with $repo := repos.CurrentRepo}}

    {{template "repo-header.html" .}}

    {{if $repo.IsEmpty "main"}}
    <div class="px-4 space-y-2">
      <div class="px-2">
        <h1 class="text-xl font-semibold">
          This Repo is Empty
        </h1>
      </div>

      <div class="card bg-base-100 shadow-lg w-max">
        <div class="card-body">
          <h2 class="card-title">
            Getting Started
          </h2>

          <ul class="list-decimal px-6 space-y-2">
            <li>Clone the repo using the "Clone Repo" button</li>
            <li>Create files and folders for your project</li>
            <li>
              Run <code class="bg-neutral/40 rounded-box px-2 py-1">git add .</code> to stage your changes
            </li>
            <li>
              Run <code class="bg-neutral/40 rounded-box px-2 py-1">git commit -m "Initial commit"</code> to commit your
              changes
            </li>
            <li>
              Run <code class="bg-neutral/40 rounded-box px-2 py-1">git push -u origin main</code> to push your changes
              to The Skyscape
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{else}}
    <div class="flex flex-col md:flex-row justify-between gap-8 w-full">
      <div class="flex flex-col gap-4 w-full max-w-screen-md">
        {{template "repo-last-commit.html" .}}

        {{template "repo-dir.html" .}}
      </div>

      <div class="flex flex-col gap-4 px-2 w-full md:max-w-108">
        {{template "repo-details.html" .}}
      </div>
    </div>
    {{end}}

    {{else}}
    <h1 class="text-2xl font-semibold">
      Repo not found
    </h1>
    {{end}}
  </div>

  {{template "layout/end"}}
</body>

</html>