<html data-theme="{{theme}}">

<head>
  {{template "includes.html"}}

</head>

<body>
  <div class="relative hero min-h-screen bg-black bg-[url('{{host}}/public/background.png')] bg-cover bg-center"
    data-theme="light">
    <div class="absolute inset-0 bg-black/40"></div>
    <div class="hero-content max-w-screen-2xl w-full mx-auto flex-col">

      <div class="card bg-base-100 shadow-lg w-full max-w-xl">
        <div class="card-body w-full">
          <h2 class="card-title text-center">Reset Password</h2>
          <div class="error"></div>

          <form hx-post="{{host}}/reset-password" hx-target="previous .error" class="w-full flex flex-col gap-4">
            <input type="hidden" name="token" value='{{req.URL.Query.Get "token"}}'>

            <label class="floating-label">
              <input type="password" name="password" placeholder="New Password" class="input w-full">
              <span>New Password</span>
            </label>
            <label class="floating-label">
              <input type="password" name="confirm-password" placeholder="Confirm Password" class="input w-full">
              <span>Confirm Password</span>
            </label>

            <button type="submit" class="btn btn-primary w-full">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>