{{$user := auth.CurrentUser}}
{{$owner := .Owner}}
{{$isOwner := and $user $owner (eq $user.ID $owner.ID)}}

<div class="flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3">
      <a href="{{host}}/app/{{.ID}}" class="btn btn-ghost btn-sm btn-circle" hx-boost="true">
        {{template "icon-chevron-left.html"}}
      </a>
      <h1 class="text-2xl font-semibold">{{.Name}}</h1>
    </div>

    <div class="flex items-center gap-2">
      <a target="_blank" href="https://{{.ID}}.skysca.pe" class="btn btn-sm btn-primary">
        Open App
      </a>

      {{if $user}}
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost">
          {{template "icon-dots.html"}}
        </div>

        <ul tabindex="-1"
          class="dropdown-content menu bg-base-100 rounded-box z-30 mt-2 w-52 p-2 shadow-sm border border-white/20">
          <li>
            <a _="on click
              call navigator.clipboard.writeText('https://www.theskyscape.com/app/{{$.ID}}') then
              set my textContent to 'Copied ✓' then
              wait 2s then
              set my textContent to 'Share'">
              Share
            </a>
            <a _="on click call promote_app_modal.showModal()">Promote</a>
            {{if $isOwner}}
            <a _="on click call edit_app_modal.showModal()">Edit</a>
            <a hx-post="{{host}}/app/{{$.ID}}/launch">Relaunch</a>
            <a hx-delete="{{host}}/app/{{$.ID}}">Shutdown</a>
            {{end}}
          </li>
        </ul>
      </div>
      {{end}}
    </div>
  </div>

  <p class="text-lg font-semibold opacity-60 tracking-wide">
    {{.Description}}
  </p>
</div>

{{template "edit-app-modal.html" .}}
