<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Skyscape Access</title>
  {{template "email-styles" .}}
</head>

<body>
  <div class="email-wrapper">
    {{template "email-header" .}}

    <div class="email-content">
      <h2>Hi {{user.Name}},</h2>

      <p>We recieved a request to reset your password. If you did not make this request, please ignore this email.</p>

      <p>To reset your password, please click the button below.</p>

      <div style="text-align: center;">
        <a href="{{resetURL}}" class="btn">Reset Your Password</a>
      </div>

      <p>If you have any questions or need assistance, don't hesitate to reach out to our support team at <a
          href="mailto:hello@theskyscape.com">hello@theskyscape.com</a>.</p>
      <p>
        Happy coding!<br>
        <strong>The Skyscape Team</strong>
      </p>
    </div>

    {{template "email-footer" .}}
  </div>
</body>

</html>